
body {
    margin: 0;
    /* height: 100vh; */
}

canvas {
    border-radius: 10px;
}

.title-text {
    font-family: 'Fredoka One', cursive;
    font-size: 80px;
}

.chat-title {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
}

.br-10 {
    border-radius: 10px;
}

.bg-light {
    background-color: rgb(133, 133, 133);
    /* border-radius:  10px; */
}

.bg-lighter {
    background-color: rgb(160, 160, 160);
}